/*Bhavesh validate css*/
.infobox {    
	background: rgba(0,0,0,0.7);
    position: relative;
	/* width: 70%; */
	max-width: 720px;
    transform: translate(0%,-50%);
    /* left: 50%; */
    top: 50%;
    margin: 10px auto;
    /* background: #f7f7f7; */
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
    /* height: 650px; */
	text-align: center;
	max-height: 600px;
}
.status-section{
	width: 100%;
	height: 150px;
}
.status-section .alert{
	margin-bottom: 0px;
}

.validate-header{
	min-height: 60px;
}

.selectionarea{
	min-height: 300px;
}
.video-section{
	height: 100%;
	box-shadow: 0 0 3px rgba(0,0,0, 0.3);
	position: relative;
}
.audio-section{
	height: 100%;
	box-shadow: 0 0 3px rgba(0,0,0, 0.3);
	position: relative;
}
.video-success{
	height: 100%;
	width: 100%;
	padding: 10px 0;
}
.audio-success{
	height: 100%;
	width: 100%;
	padding: 10px 0;
}
.audio-play{
    height: 330px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    font-size: 100px;
    margin-top: 30px;
}

.audio-play i{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.audio-play wave{
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	     -o-transform: translate(0,-50%);
	        transform: translate(0,-50%);
}

.video-play{    
	height: 200px;
    background: rgba(0,0,0,0.7);
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0,-50%); */
    width: 100%;
    font-size: 100px;
    margin-top: 30px;
}

.video-error{
	background: rgba(256,256,256,1);
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0,-50%); */
    min-height: 250px;
    width: 100%;
    margin-top: 20px;
}

.video-error img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.audio-error{
	background: rgba(256,256,256,1);
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    height:350px;
    width: 100%;
    font-size: 100px;
}

.audio-error i{
	color:#000;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

#validate-proceed-button{
	margin: 10px 0;
}
