/*importing fonts*/
@font-face { font-family: Lobster; src: url('../fonts/Lobster-Regular.ttf'); }
@font-face { font-family: Convergence; src: url('../fonts/Convergence-Regular.ttf'); } 

/*Animations*/
	/*Wiggle*/
	@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
	@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
	@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
	@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}

/**/

body{
	 /* fallback for old browsers */
	/* background: #abbaab;  */
	/* Chrome 10-25, Safari 5.1-6 */
	/* background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  */
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
	/* background: linear-gradient(to right, #ffffff, #abbaab);   */
	background-image: url("../images/mountain.jpg");
	background-size:cover;
	overflow-y: auto;
}

html, body, .ng-scope {
  height: 100%;
}

#switch-view{
	height:50px;
	width:200px;
	margin-top:10px;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0.5);
}

#video-element-wrapper{
	height: 100%;
	overflow:hidden;
}

section {
	position: absolute;
	box-sizing: border-box;
	vertical-align: text-top;
	border: 0;
	color: WindowText;
	background: Window;
	box-shadow: inset 0px 0px 2px ThreeDShadow;
}

#video-box{
	margin-top: 20px;
    min-height: 250px;
    max-height: 700px;
    height: 70%;
    max-width: 1200px;
    left: 50%;
	transform: translate(-50%,0);
}

section.cover {
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}

section.cover form {
	position: relative;
	padding: 10px;
	background: Window;
}

section.major-box {
	transition:width 1s, height 1s;
	float: left;
	/* width: 64%;			 */
	position: relative;
	/* height:90%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	     -o-transform: translate(0,-50%);
	        transform: translate(0,-50%); */
	background: rgba(0,0,0,0.5);	
}

section.minor-box {
	transition:width 1s, height 1s;
	position: relative;
	background: rgba(0,0,0,0.5);

}

section.remote-split-box{
	transition:width 1s, height 1s;	
	position: relative;
	height: 100%;
	/* max-width: 100%;
	max-height: 100%;
	float:left;
	height: 90%;
	width: 49%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	     -o-transform: translate(0,-50%);
	        transform: translate(0,-50%); */
	background: rgba(0,0,0,0.5);
}

section.local-split-box{
	transition:width 1s, height 1s;
	position: relative;
	/* max-width: 100%;
	max-height: 100%;
	margin-left: 2%;
	float:right;
	height: 90%;
	top: 50%;
	width:49%;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	     -o-transform: translate(0,-50%);
	        transform: translate(0,-50%); */
	background: rgba(0,0,0,0.5);
}



	section.major-box h2 {
		height: 100%;
		font-size: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		text-shadow: 1px 1px 2px black;
	}



	section.minor-box h2 {
		font-size: 12px;
		/* position: absolute; */
		right: 10px;
		top: 10px;
		color: white;
		text-shadow: 1px 1px 1px black;
	}
	
	/* section.major-box video, section.minor-box video {
		margin-left: 0px;
		width: 100%;
		height: 100%;
	} */


	/* For very large screens */
	@media screen 
	and (min-device-width: 1600px){
		video {

			width: 1400px;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
		#video-box{
			max-width: 1024px;
		}
	}

	@media screen 
	and (min-device-width: 1200px) 
	and (max-device-width: 1600px) {
		video{
			width: 1024px;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
		#video-box{
			max-width: 768px;
		}
  }

	@media screen 
	and (min-device-width: 1200px) 
	and (max-device-width: 1600px) 
	and (-webkit-min-device-pixel-ratio: 1) { 
		video{
			width: 1024px;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
  }
  
  @media screen 
	and (min-device-width: 1200px) 
	and (max-device-width: 1600px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (min-resolution: 192dpi) { 
		video,{
			width: 1024px;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
		
  }

  @media screen 
  and (min-device-width: 768px)
  and (max-device-width: 1200px){
	  video {
		  width: 1024px;
		  height: auto;
		  max-width: 100%;
		  max-height: 100%;
		  object-fit: contain;
	  }
	  .local-split-box{
		  max-height: 150px;
	  }

  }

  @media screen 
  and (max-device-width: 450px){
	  video {
		  width: 1400px;
		  height: auto;
		  max-width: 100%;
		  max-height: 90%;
		  object-fit: contain;
	  }
	  .local-split-box{
		  max-height: 150px;
	  }
  }


	#local-full-screen {
		position: absolute;
		right: 0px;
		top: -112px;
		width: 15px;
		height: 15px;
		cursor: pointer;
	}
	
	#local-full-screen:hover {
		right: 2px;
		top: 2px;
		width: 17px;
		height: 17px;
	}

 /* Specify styling for tooltip contents */
.tooltip.customClass .tooltip-inner {
          color: #880000;
          background-color: #FEF9E7;
          box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }
 /* Hide arrow */
.tooltip.customClass .tooltip-arrow {
    display: none;
}

.vertical-bar-2 .row {
	margin: 0px;
}

.vertical-bar-2 .nav {
	margin-bottom: 10px;
}

/*.navbar-brand{ for the logo on navbar
	font-size:40px !important;
}*/

canvas {
	top: 0; /*repositioned the canvas*/
	left: 0; /*repositioned the canvas*/
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 200;
}

/*.remote-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}*/

.bg { 
    /* The image used */
    background-image: url("greybg.jpeg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-guest-login{
	min-width: 350px;
	min-height: 340px;
	max-width: 450px;
}
.modal-guest-login .modal-header{
	height: 60px;
}
.modal-guest-login .modal-body{
	height: 220px;
}
.modal-guest-login .modal-footer{
	height: 60px;
}

.modal-content{
	height: 100%;
	width: 100%;
	position: relative;
}

.modal-enrollment{
	/* width: 60% !important;
	height: 520px !important; */
	min-height: 520px;
	min-width: 520px;
} 
.modal-enrollment .modal-header{
	height: 60px;
}
.modal-enrollment .modal-body{
	height: 400px;
}
.modal-enrollment .modal-footer{
	height: 60px;
}
.signup-modal-alerts{
	margin-top:22px;
}

.modal-verification{
	width: 40% !important;
	height: 540px !important;
	min-height: 540px;
	min-width: 520px;
}
.modal-verification .modal-header{
	height: 60px;
}
.modal-verification .modal-body{
	height: 420px;
}
.modal-verification .modal-body form{
	height: 320px;
}
.modal-verification .modal-footer{
	height: 60px;
}

.voice-signup-section{
	text-align: left;
}

.voice-login-section{
	text-align:right;
}

.modal-call-incoming{
	height: 150px;
    position: absolute;
    top: 49px;
    /* width: 400px !important; */
}

.modal-call-outgoing{
	height: 150px;
    position: absolute;
    top: 0px;
    width: 400px !important;
}

.incoming-call-buttons{
	width: 100%;
}

.outgoing-call-info{
	position: fixed;
    left: 50%;
    transform: translate(-50%,0);
}

.navbar{
	color: #fff;
	position: fixed !important;
	width:100% !important;	
	left:0;
	z-index: 1000 !important;
	height: 60px;
}
.navbar-header{
	font-family: Lobster, cursive;
	padding: 0;
}

.navbar a{
	color:#fff;
}

.navbar a:hover{
	color:#264b8b;
}

.navbar-options-right{
	max-width: 400px;
	padding: 5px 0px;
}

/* .navbar-options-right .user-welcome{
	
} */

.navbar-options-right .user-welcome div{
	font-size:24px;
	line-height: 0.8;
}

.navbar-options-right .user-options{
	font-size: 30px;
}

.user-options a{
	text-decoration: none;
	margin: 7px 20px;
}


.chip {
    display: block;
    padding: 0 25px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.verify-phrase-display{
/*	margin-bottom: 20px;
	margin-top: 20px;*/
	padding: 1px 20px !important;
    font-family: Convergence, sans-serif;
    height:110px;
}
.enroll-phrase-display{
/*	margin-bottom: 20px;
	margin-top: 20px;*/
	padding: 1px 20px !important;
    font-family: Convergence, sans-serif;
    height:100px;
    margin-top: 40px;
}

/*.jumbotron h3{
	margin-top: 10px;
	margin-bottom: 10px;
}*/

#signup-record-button{
	width: 180px;
	height: 180px;
	background-color: #e55;
	border: 0;
	color: #fff;
	font-size: 80px;
	border-radius: 90px;
	outline: none;
	margin-bottom: 20px;
	margin-top: 40px;
}

#login-record-button{
	width: 120px;
	height: 120px;
	bottom: 4px;
	background-color: #e55;
	border: 0;
	color: #fff;
	font-size: 50px;
	border-radius: 60px;
	outline: none;
	position: relative;
}
/*
.mic-icon button {
	width: 120px;
	height: 120px;
	background-color: #e55;
	border: 0;
	color: #fff;
	font-size: 50px;
	border-radius: 60px;
	outline: none;
}
*/
.notRec{
	background-color: #e55;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

#toggle-local-fullscreen{
	position: absolute;
	top:0px;
	right: 0px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	opacity: 0.2 !important;
	margin: 10px;
	height: 30px !important;
	width: 30px !important;
	border-radius: 15px !important;
	font-size: 15px !important;
}

#toggle-local-fullscreen:hover {
	cursor: nesw-resize;
	opacity: 1 !important;
}

#toggle-remote-fullscreen{
	z-index:600 !important;
	position: absolute !important;
	background-color: rgba(0,0,0,0.3);
	color:#fff;
	opacity: 0.2;
	top: 0px;
	right: 0px;
	margin: 10px;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	font-size: 15px;
}
#toggle-remote-fullscreen:hover{
	cursor: nesw-resize;
	opacity:1;
}

#remote-video-overlay {
	/* position:absolute; */
    width:100%;
    height: 100%;
    min-width: 315px;
    min-height:55px;
    /*background-color:#000;*/
    z-index:300 !important;
	/*display: none;*/
}

#room-link-overlay {
	position: absolute;
    width: 100%;
    top: 20px;
    /* padding: 50px; */
    left: 0;
    /* height: 100%; */
    /* top: 10% !important; */
    /* left: 10% !important; */
    /* min-height: 55px; */
    /* background-color: #000; */
    z-index: 300 !important;
    color: white !important;
    /* display: none; */
    /* transform: translate(-50%,-50%); */
}

#video-controls {
	position:absolute;
	bottom:10px;
	/* width:300px; */
	margin-top:20px;
    min-width: 315px;
    max-width:500px;
	min-height:50px;
	height: 60px;
    /*background-color:#000;*/
    z-index: 300 !important;
    left:50%;
	transform: translate(-50%,0);
	opacity:0.9;

}
#video-controls a {	
	font-size:25px;
	height: 30px;
	max-height: 40px;
}

#local-video-overlay {
	position:absolute;
	width: 100%;
	height:100%;
	min-height:55px;
    /*background-color:#000;*/
    z-index:300 !important;
	/*display: none;*/
}

#remote-video-overlay button{
	margin-left: 5px;
	margin-right: 5px;
	height:50px;
	width:50px;
	border-radius:25px;
	padding:0;
	min-width: 0;
	min-height: 0;
	/*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}
#remote-video-overlay button i{
	font-size: 25px;
}

#hang-up{
	/* position: absolute;
    bottom: 0;
    left: 20px;
    transform: translate(0,-50%);
    z-index: 99999;
    /* border-radius: 25px; */
    /* display: block; */
}

#local-video-overlay button{
	height:40px;
	width:40px;
	border-radius:20px;
	padding:0;
	min-width: 0;
	min-height: 0;
	opacity: 1;
	margin: 10px;
	/*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}


#recording-status-indicator{
    bottom: 15px;
    position: absolute;
    right: 15px;
    padding: 6px !important;
}


.call-button{
	vertical-align: middle;
    margin: 0;
    min-width: 0;
    min-height: 0;
    width: 40px;
    height: 25px;
}
.transcript-button{
	margin: 10px auto !important;
}

.transcripted-messages{
	float: left;
	clear: both;
	position: relative;
	padding:10px;
}

.translate-button{
	margin: 10px auto !important;
}

.translated-messages{
	float: left;
	clear: both;
	position: relative;
	padding:10px;
}

/*.loader-background{
	width: 100%;
	height: 100%;
	position:absolute;
	background-color: rgba(0,0,0,0.7);
	z-index: 10000;
	display: none;
}



#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
*/
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#loader-background{
    z-index: 50000;
    background: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width:100%;

}

.loader{
    display: none;
}

#loader{
    border: 30px solid #00B782;
    border-top: 30px solid #000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.left-bubble{
	 max-width: 320px;
	 background: #ececec ;
	 color: #454545 ;
	 font-size: 15px !important;
	 font-family: "Helvetica neue",Helvetica,sans-serif;
	 padding: 5px;
	 border-radius: 10px;
	 display:block ;
	 width:contain;
	 float:left;
	 margin: 5px 10px;
	 clear: both;
}
.right-bubble{
	 max-width: 320px;
	 background: #ececec ;
	 color: #454545 ;
	 font-size: 15px !important;
	 font-family: "Helvetica neue",Helvetica,sans-serif;
	 padding: 5px;
	 border-radius: 10px;
	 display:block;
	 float:right;
	 margin: 5px 10px;
	 clear: both;
}

.left-bubble p{
	word-break: break-all;
}

.right-bubble p{
	word-break: break-all;
}

ul {
 list-style-type: none;
}
.input-group{
bottom:0;
width: 100%;
bottom:0%;
}

#message-box{
    bottom: 2%;
    width: 31%;
    height: 69%;
    position: absolute;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0, 0.5);
    opacity: 1;
    overflow: auto;
    position: fixed;
    right: 20px;
}

#mes1{
 top:0;
 background-color:light-blue; 
}
#messages{
 width:95%;
 top:15%;
 bottom:10%;
 height:75%;
 position:absolute;
 box-shadow: 0 0 3px rgba(0,0,0, 0.5);
 opacity: 0.9;
 overflow:scroll;
 overflow-x:hidden;
 background: #000;
 padding-bottom: 10px;
}

div#bottom-row {
    height:15%;
}
div#top-row {
    height:85%;
}
.inp-msgs{
 width:90%;
 bottom: 0;
 position: absolute;
}

#navbar-title{
	font-size: 35px;
	padding:10px;
}

#sidebar-toggle{
	padding: 10px;
    /* background-color: #525558; */
    /* max-width: 50px; */
    width: 50px;
    height: 50px;
    /* position: relative; */
    /* margin-top: 50%; */
    font-size: 25px;
    /* text-decoration: none; */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


#sidebar-toggle:hover{
	-ms-animation:wiggle .3s 2;
	-moz-animation:wiggle .3s 2;
	-webkit-animation:wiggle .3s 2;
	animation:wiggle .3s 2;
}


.sidebar-header{
	height:10%;
	font-size:25px;
}
.sidebar-header div{
	position: absolute;
	top:50%;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	     -o-transform: translate(0,-50%);
	        transform: translate(0,-50%);
}

#emotion-container{
	padding:10px;
}


#sidebar-content{
	display: none;
    /* margin-top: 60px; */
    z-index: 1200;
    position: fixed;
    padding: 0;
    opacity: 1;
    background-color: rgba(0,0,0,0.9);
    max-height: 570px;
    top: 50%;
    transform: translate(0,-50%);
    max-width: 500px;
    min-height: 400px;
    min-width: 300px;
    height: 70%;
}
.sidebar-open{
	left:0 !important;
}

#sidebar-emotion-display-message{
	margin-top: 100px;
	text-align: center;
}

.nav-tabs{
	float: left;
	border-bottom: 0;
	height: 90%;
	width: 15%;
}
.nav-tabs li{
	width: 100%;
	float:none;
	margin:0;
	font-size: 30px;
}
#sidebar-tab-content{
	float: right;
	width: 85%;
	height: 90%;
	overflow-y: auto;
	overflow-x: auto;
}
.peer{
	padding: 5px 15px;
	height: 40px;
}
#peer-connect-alert{
	display: none;
    position: fixed;
    height: 55px;
    top: 71px;
    /* width: 480px; */
	right: 5px;
	z-index: 1000;
}

.message-peer{
	margin-left: 10px;
}
.call-peer{
	margin-left: 10px;
}

/* #message-bubble-button{
	transition: bottom 1s;
	z-index: 400;
	position: fixed;
	bottom:20px;
	right:20px;
    font-size: 30px;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    padding: 0;
	background-color: #375a7f;
	opacity: 0.8;
} */

#message-bubble-button:hover{
	opacity:1;
}

.message-bubble-out{
	bottom:-100px !important;
}

#message-bubble-button .badge{
    position: absolute;
    top: -5px;
    left:-10px;
}

#message-popup{
	transition: right 1s;
    padding: 0;
    min-width: 270px;
    width: 90%;
    max-width: 500px;
    right: -500px;
    min-height: 400px;
    height: 70%;
    max-height: 800px;
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 500;
    background-color: rgba(0,0,0,0);
    opacity: 1;
}

.message-popup-open{
	right: 0 !important;
}

.message-panel{
	height: 100% !important;
	width: 100% !important;
	opacity: 0.9 !important;
	background: #000 !important;
	border: 0px !important;
}
.message-panel .panel-header{
	position: absolute;
	text-align:center;
	height:10%;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.message-panel .panel-footer{
	position: absolute;
	 height:10%; 
	bottom: 0;
	width: 100%;
}

.message{
	height: 100%;
}

.message input{
	position: absolute;
	top:50%;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	     -o-transform: translate(0,-50%);
	        transform: translate(0,-50%);
	height:60%;
	width: calc(100% - 120px);
}
.message button{
	right: 15px;
	width: 70px;
	position: absolute;
	top:50%;
	-webkit-transform: translate(0,-50%);
	   -moz-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	     -o-transform: translate(0,-50%);
	        transform: translate(0,-50%);
}

 /* .message-panel .panel-body{
	position: relative;
	top:10%;
	bottom:10%;
	height:80%;
	width: 100%;
}  */

#sendMessage input{
	width: 100%;
}



.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}
.ui-select.container{
	color: #fff;
}

#language-select .ui-select-match .ui-select-choices{
	color: #fff !important;
}

.callPopup {
  display: none;  
  position: absolute;
  padding: 10px;
  width: 280px;
  right: 0px;
  height: 100px;
  margin-top: -50px;
  background: lightgoldenrodyellow;
  z-index: 20;
  opacity: 0.9;
  color: red;
  transition:opacity 500ms;
}

#callPopup {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.videoClass{

 	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/
}

.canvasClass{
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph;
	filter : fliph; 
}

.visiontable{
     margin: 5%;
     text-align: center;
     border: 1px solid #464545;
	 }
	
