/*importing fonts*/
@font-face { font-family: Lobster; src: url('../fonts/Lobster-Regular.ttf'); }
@font-face { font-family: Convergence; src: url('../fonts/Convergence-Regular.ttf'); } 


div#xsdk-video-call {
	font-size: 14px;
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Ubuntu", sans-serif;
}

h1 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

h2 {
	font-size: 16px;
	margin: 0 0 10px 0;
}

section {
	position: absolute;
	box-sizing: border-box;
	vertical-align: text-top;
	border: 0;
	padding: 10px;
	color: WindowText;
	background: Window;
	box-shadow: inset 0px 0px 2px ThreeDShadow;
	text-shadow: 1px 1px 1px white;
}

section.cover {
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

	section.cover form {
		position: relative;
		left: 50%;
		top: 50%;
		width: 200px;
		height: 100px;
		margin-left: -110px;
		margin-top: -60px;
		padding: 10px;
		background: Window;
		box-shadow: 0px 0px 2px black;
	}

section.vertical-bar-1 {
	left: 0%;
	top: 51px;
	width: 35%;
	min-width: 150px;
	height: 44%;
	overflow-y: auto;
}

section.vertical-bar-2 {
	left: 0%;
	top: 50%;
	width: 35%;
	min-width: 150px;
	height: 50%;
	overflow-y: auto;
}

section.horizontal-bar {
	right: 0%;
	bottom: 0%;
	width: 65%;
	height: 35%;
	min-height: 100px;
	overflow-y: auto;
}

section.major-box {
	left: 35%;
	top: 51px;
	width: 65%;
	height: 65%;
	background: rgb(100,100,100);
	background: #000;
}

	section.major-box h2 {
		font-size: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		text-shadow: 1px 1px 2px black;
	}

section.minor-box {
	right: 0%;
	bottom: 35%;
	height: 150px;
	width: 200px;
	background: rgb(100,100,100);
	background: #000;
	padding: 0px;
}

	section.minor-box h2 {
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		text-shadow: 1px 1px 1px black;
	}
	
	section.major-box video, section.minor-box video {
		margin-left: 0px;
		width: 100%;
		height: 100%;
	}

	section.minor-box video {
		margin-left: 0px;
	}
	
	#remote-full-screen, #local-full-screen {
		position: absolute;
		right: 0px;
		top: -112px;
		width: 10px;
		height: 10px;
		cursor: pointer;
	}
	
		#remote-full-screen:hover, #local-full-screen:hover {
			right: 2px;
			top: 2px;
			width: 12px;
			height: 12px;
		}

button {
	background: ButtonFace;
	min-width: 80px;
}

#peers {
	margin-top: 10px;
}

	#peers h2, #peers button {
		float: left;
		margin-right: 10px;
	}

	.peer {
		clear: left;
	}

.hidden {
	display: none;
}


 /* Specify styling for tooltip contents */
.tooltip.customClass .tooltip-inner {
          color: #880000;
          background-color: #FEF9E7;
          box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }
 /* Hide arrow */
.tooltip.customClass .tooltip-arrow {
        display: none;
}

.vertical-bar-2 .row {
	margin: 0px;
}

.vertical-bar-2 .nav {
	margin-bottom: 10px;
}

.navbar-brand{
	font-size:40px !important;
}

canvas {
	top: 0; /*repositioned the canvas*/
	left: 0; /*repositioned the canvas*/
	position: absolute;
	width: 100%;
	height: 100%;
}
.modal-enrollment{
	width: 60% !important;
	height: 460px !important;
	min-height: 460px;
} 

.modal-verification{
	width: 40% !important;
	height: 581px !important;
	min-height: 540px;
} 

.modal-footer {
  border-radius: 0;
  bottom:0px;
  position:absolute;
  width:100%;
}

.modal-body{
	height: 80%;
}
.modal-content{
	height: 100%;
	width: 100%;
	position: relative;
}
.navbar-header{
	font-family: Lobster, cursive;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}

.chip {
    display: block;
    padding: 0 25px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.phrase-display{
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 20px;
    padding-right: 20px;
    font-family: Convergence, sans-serif;
}

.jumbotron h3{
	margin-top: 10px;
	margin-bottom: 10px;
}

#signup-record-button{
	width: 180px;
	height: 180px;
	background-color: #e55;
	border: 0;
	color: #fff;
	font-size: 80px;
	border-radius: 90px;
	outline: none;
}

#login-record-button{
	width: 120px;
	height: 120px;
	bottom: 4px;
	background-color: #e55;
	border: 0;
	color: #fff;
	font-size: 50px;
	border-radius: 60px;
	outline: none;
	position: relative;
}
/*
.mic-icon button {
	width: 120px;
	height: 120px;
	background-color: #e55;
	border: 0;
	color: #fff;
	font-size: 50px;
	border-radius: 60px;
	outline: none;
}
*/
.notRec{
	background-color: #e55;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}