<button type="button" data-placement="top" data-toggle="tooltip" title="Toggle Visual Mode" ng-click="startVisualMode()" ng-show="showVisualMode" ng-hide="!showVisualMode">
						<i class="fa fa-paint-brush" aria-hidden="true" ></i>
					</button>
					<button type="button" data-placement="top" data-toggle="tooltip" title="Toggle Visual Mode" ng-click="stopVisualMode()" ng-show="!showVisualMode" ng-hide="showVisualMode">
						<i class="fa fa-user-circle" aria-hidden="true" ></i>
					</button>
					<button type="button" data-placement="top" data-toggle="tooltip" title="Record Video and Audio" id="saveMediaRecord" ng-click="toggleRecordMedia()" ng-class="{'btn-success': !toggleRecording, 'btn-danger': toggleRecording}">
						<i class="fa fa-camera" aria-hidden="true"></i>
					</button>
					<button type="button" data-placement="top" data-toggle="tooltip" title="Toggle Mute Audio" id="toggle-mute" ng-click="toggleMuteAudio()" ng-class="{'btn-success': toggleMute, 'btn-danger': !toggleMute}">
						<i class="fa fa-microphone" aria-hidden="true" ng-class="{'fa-microphone-slash': !toggleMute, 'fa-microphone': toggleMute}"></i>
					</button>
					<button type="button" data-placement="top" data-toggle="tooltip" title="End Call" id="hang-up" >
						<i class="fa fa-phone"></i>
					</button>




	<!-- Modals for login and signup -->
	


	




<!-- </div> -->






<!-- 	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="col-md-6 col-sm-6 col-xs-6">
		  <div class="navbar-header">
		    <a id="menu-toggle" class="fa fa-bars"></a>
		    <a class="navbar-brand" href="#">Meet.ai</a>
		  </div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
		    <ul class="nav navbar-nav navbar-right pull-right" style="margin-right: 15px;">
		      <button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#login-modal">Login</button>
		      <button class="btn btn-primary navbar-btn" style="margin-left: 10px;" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
		    </ul>
		</div> 
	</nav>  -->

<!-- 		<div id="sidebar-wrapper">
	    	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
					<div class=" btn-group-lg" role="group" aria-label="First group">
					<button type="button" class="btn btn-default"><i class="fa fa-user fa-2x" aria-hidden="true" ></i></button>
					<button type="button" class="btn btn-default"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i></button>
	   				<button type="button" class="btn btn-default"><i class="fa fa-language fa-2x" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-default"><i class="fa fa-smile-o fa-2x" aria-hidden="true"></i></button>
					</div>
				</div>
	        <ul class="sidebar-nav nav">
	            <li class="sidebar-brand">
	            </li>
	        </ul> 
	    </div>
 -->





			<!-- Section on the left -->
<!-- 			<div class="container">
				<section class="vertical-bar-1">
					<div class="col-md-12">
						<div id="peers">
							<div class="row">
								<h1>Peers</h1>
								<div class="chip all-peers">
									<span id="username-label"> All Users </span>
									<img src="images/all-peers.png" alt="All Peers" width="48" height="48">
									<label class="pull-right"><input type="radio" name="optradio"></label>
								</div>
								<div class="chip peer">
									<span id="username-label"> Rishab </span>
									<img src="images/peer.png" alt="All Peers" width="48" height="48">
									<button id="call-peer" type="button" class="btn btn-success call-button btn-xs pull-right">Call</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div> -->

			<!-- Data View Section -->
			<!-- <div class="container">
				<section class="vertical-bar-2">
					<uib-tabset active="active">
						<uib-tab index="0" heading="Transcript" ng-click="getTranscript();">
							<div class ="row">
								<div class="box">
									<label for="language-select"> Language: </label>
								    <ui-select name="languageSelect" id="language-select" ng-model="transcriptLanguage" search-enabled="false" title="Select Language">
								      <ui-select-match placeholder="Select Language">
								        <span ng-bind="$select.selected.name"></span>
								      </ui-select-match>  
								      <ui-select-choices repeat="language in languageOptions">
								        <span ng-bind="language.name"></span>
								      </ui-select-choices>
								    </ui-select>
									<br>
									<button id="start-transcript" class="btn btn-success transcript-button" ng-click="startTranscript()" ng-show="showTranscriptStartBtn" ng-hide="showTranscriptStopBtn">
										<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i>Start
									</button>
									<button id="stop-transcript" class="btn btn-danger transcript-button" ng-click="stopTranscript()" ng-show="showTranscriptStopBtn" ng-hide="showTranscriptStartBtn">
										<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i>Stop
									</button>
								</div>
							</div>
							<div class="box" ng-repeat="message in transcriptMessages | orderBy: 'time' track by $index">
								<div><strong>{{message.user}} </strong> : 
								<label tooltip-placement="right-bottom" uib-tooltip="{{message.formattedTime | date:'medium'}}" tooltip-class="customClass" >{{message.formattedTime | date:'h:mm a'}}
								</label>
								</div>
								<div>{{message.text}}</div>
							</div>					
						</uib-tab>
						<uib-tab index="1" heading="Translate">
							<div class ="row">							
								<div class="box">
									<label for="input-language-select"> From: </label>
								    <ui-select name="fromLanguageSelect" id="input-language-select" ng-model="translateFromLanguage" search-enabled="false" title="Select Language">
								      <ui-select-match placeholder="Select Language">
								        <span ng-bind="$select.selected.name"></span>
								      </ui-select-match>  
								      <ui-select-choices repeat="language in translateFromLanguageOptions">
								        <span ng-bind="language.name"></span>
								      </ui-select-choices>
								    </ui-select>
								    <br>
								    <label for="input-language-select"> To: </label>
								    <ui-select name="toLanguageSelect" id="input-language-select" ng-model="translateToLanguage" search-enabled="false" title="Select Language">
								      <ui-select-match placeholder="Select Language">
								        <span ng-bind="$select.selected.name"></span>
								      </ui-select-match>  
								      <ui-select-choices repeat="language in translateToLanguageOptions">
								        <span ng-bind="language.name"></span>
								      </ui-select-choices>
								    </ui-select>
								    <br>
									<button id="start-translate" class="btn btn-success translate-button" ng-click="startTranslate()" ng-show="showTranslateStartBtn" ng-hide="showTranslateStopBtn">
										<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px; margin-top: 5px;"></i>Start
									</button>
									<button id="stop-translate" class="btn btn-danger transcript-button" ng-click="stopTranslate()" ng-show="showTranslateStopBtn" ng-hide="showTranslateStartBtn">
										<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px; margin-top: 5px;"></i>Stop
									</button>						
								</div>
								<div class="box" ng-repeat="message in translateMessages | orderBy: 'time' track by $index">
									<div><strong>{{message.user}} </strong> : 
									<label tooltip-placement="right-bottom" uib-tooltip="{{message.formattedTime | date:'medium'}}" tooltip-class="customClass" >{{message.formattedTime | date:'h:mm a'}}
									</label>
									</div>
									<div>{{message.text}}</div>
								</div>
							</div>
						</uib-tab>
						<uib-tab index="2" heading="Emotimeter" select="alertWhenEmotionTabActive($event, $index)">
							<div id="emotion-container">

							</div>
						</uib-tab>
					</uib-tabset>
				</section>
			</div> -->






			<!-- Messages Div -->
<!-- 				<div class="row">
					<div class="panel panel-default" title="Messages">
						<div class="panel-body">
							<div id="messages">	</div>
						</div>
						<div class="panel-footer">
						<form id="sendMessage" class="message" >
							<input type="text" id="message" size="30"/>
						</form>
						</div>
					</div>
					<div class="pane msgdiv">
						<div  class="msg-box">
							<div id="mes1" class="row list-group-item list-group-item-info row">
			    				<h2>Messages</h2>
							</div>
							<div id="messages">	</div>
							<div class="input-group form-control inp-msgs" >
		    				<form id="sendMessage" class="message" >
		    					<input type="text" id="message" size="30"/>
		    				</form>
							</div>
						</div>
					</div>
				</div> -->






			<!-- User Message View -->
				<!-- <section class="horizontal-bar">
					<div id = "image-capture" style="height: 100%; overflow:hidden;">
						<div class="col-md-12 message-list" style=" height: 100%; overflow: hidden;">
							<div class="panel panel-default" style="height: 100%; overflow-y: auto; position: relative;">
							  <div class="panel-body"> 
							  </div>
							  <div class="panel-footer" style="position:absolute; width:100%; bottom:0">
							  	<div class="input-group message" id="send-msg">
								    <input type="text" class="form-control" placeholder="Enter New Message">
								    <span class="input-group-btn">
								    <button class="btn btn-default" type="submit">Send</button>
								    </span>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</section> -->