<link rel=stylesheet href="css/main.css">

<div class="level level-hero hero-home has-hint">
    

    <div class="hero-overlay visible-lg"></div>

    <!-- <video loop id=bg-video class=fullscreen-video>
      <source src="media/laptop.mp4" type="video/mp4">
    </video> -->
      <div>
      <img src="images/laptop-video-call.jpg" class="hero-overlay visible-lg"/>
      </div>
    <div class="container full-height">
      <div class=v-align-parent>
        <div class=v-center>
          <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-8">
              <br/>
              <br/>
              <!--<h1 class="mb-10 heading">Meet.ai</h1>-->
              <img src="images/meetlogo.png" alt class="col-xs-10 col-sm-6"/>
              
            </div>
          </div>
                    <div class="subheading mb-20">Create a room and start talking
                <!--<br class=hidden-xs><br class=hidden-xs>Create a room and start talking</div>
                -->
              </div>
          <div>
            
            <input type="text" id="inputroomID" class="col-xs-12 col-sm-6 input-lg" placeholder="Enter room name" ng-model="roomid"></input>
            <a class="btn btn-prepend btn-lg" href="#!validate/{{roomid}}" >
              <i class="prepended icon-append-iphone"></i> <p class="gotoroom">Create Room</p>
            </a>
           
          </div> 
        </div>
      </div>

      <div class=hint-arrow></div>
    </div>
  </div>
  <div class=level>

    <div class="container mb-100 xs-mb-40">
      <div class=row>
        <div class="col-sm-5 col-md-5 col-md-offset-1 col-sm-offset-2">
          <h2 class="mb-10 xs-mb-10 heading color-dark heading-bordered">Effortless meetings</h2>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <!--<h2 class="w-300 color-dark mb-10 xs-mb-10">Lorem Ipsum Dolor Sit.</h2>-->
          <p class="xs-mw">Be it enterprise collaboration or catching up with friends, make your meetings memorable and productive
        </div>
      </div>
    </div>

    <!--images/v2/iphone6.min.png-->

    <img src="images/people.png" alt class="mb-80 hidden-xs iphone-inline">


    <div class=container>
      <div class="row mb-90 xs-mb-0">

        <div class="col-sm-1 col-sm-offset-2">
          <i class="icon icon-phone"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Any device</h3>
          <p class="smaller xs-mb-40 xs-mw">Say no to apps and plugins. Run or attend meetings from your browser
        </div>

        <div class="col-sm-1">
          <i class="icon icon-check"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">AI powered</h3>
          <p class="smaller xs-mb-40 xs-mw">Auto generate meeting transcipts, smart audio translations, video filters
        </div>

      </div>

      <div class=row>

        <div class="col-sm-1 col-sm-offset-2">
          <i class="icon icon-user"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Analytics</h3>
          <p class="smaller xs-mb-40 xs-mw">Video indexing, captioning and annotation, emotion analysis, live recording
        </div>

        <div class="col-sm-1">
          <i class="icon icon-clock"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Security</h3>
          <p class="smaller xs-mb-40 xs-mw">Secure media and data transfer, speaker recognition for sign-up
        </div>

      </div>
    </div>
  </div>

  <div class="level level-img-right">
      <!--<img class=img-right-sprite src="images/v2/iphone-bg-lg.min.png" alt>-->
    
    <div class="container xs-mb-30">
      <img class=img-right-sprite src="images/phone.png" alt>
      <div class="row mb-60 xs-mb-20">
        <div class="col-sm-6 col-lg-offset-1 col-lg-5">
          <h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">Details</h1>
          <h2 class="w-300 color-dark mb-10">All what you want to collaborate</h2>
          <p class=xs-mw>Now with Meet.ai you have it on your fingertips.
        </div>
      </div>

    <!-- <div class="visible-xs xs-mw xs-mb-40">
      <img src="images/v2/iphone-mobile.min.png" alt>
    </div> -->

      <div class="row mb-60 xs-mb-20">
        <div class="col-sm-1 col-lg-offset-1">
          <i class="icon icon-globe"></i>
        </div>
        <div class="col-sm-4 col-md-3">
          <h3 class="mb-15">Worldwide clientele</h3>
          <p class="smaller xs-mw">Industry leaders in mobile communication technology</p>
        </div>
      </div>

      <div class="row mb-60 xs-mb-20">
        <div class="col-sm-1 col-lg-offset-1">
          <i class="icon icon-eye"></i>
        </div>
        <div class="col-sm-4 col-md-3">
          <h3 class="mb-15">Security</h3>
          <p class="smaller xs-mw">Industry standards and certifications
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-lg-offset-1">
          <i class="icon icon-bubble"></i>
        </div>
        <div class="col-sm-4 col-md-3">
          <h3 class="mb-15">Ready to integrate</h3>
          <p class="smaller xs-mw">Ready to integrate with all enterprise communication systems
        </div>
      </div>
    </div>

  </div>

  <div class="level level-outro text-center">
    <div class=container>

      <form class=contact method=get action="/" accept-charset="UTF-8">

        <div class="h2 mb-20">We will go live soon</div>
        <p class="mb-35">Enter your phone number and we’ll reach out to you

        <div class="btn-append dropdown-prepend">

          <div class=dropdown>
            <button class="btn btn-default dropdown-toggle" type="button" id="f1" data-toggle="dropdown" aria-expanded="true">
            <span id=option-value-f1>US (+1)</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-displaytarget="#option-value-f1" data-inputtarget=".f1-target" role="menu" aria-labelledby="f1">
              <li role="presentation" data-placeholder="US ( +1)" data-value="1" class=disabled>US ( +1)</li>
            </ul>
          </div>

          <!-- actual select here -->
          <select name="country-code" class="sr-only f1-target countryCode">
            <option selected value="1">US (+1)</option>
          </select>

          <input type=tel class="text phoneNumber" name="tel" placeholder="Phone number" required>

          <input type=submit class="submit appended" value=submit>

        </div>

      </form>
    </div>


  </div>
  <div class="footer text-center">
  <p class="fmenu">
    <a href="index.html">HOME</a> | <a href="about.html">ABOUT</a>
  </p>

  </div>  

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
  <script>window.jQuery</script>
  
  <script src="js/main.js"></script>
    
  

  <!-- //-end- concat_js -->


  