	
<div class="infobox">
    <div class="validate-header col-md-12 col-sm-12 col-xs-12">
        <h3>You're about to enter a video conversation room on Meet.ai </h3>
    </div>	
    <div class="selectionarea col-md-12 col-sm-12 col-xs-12">
        <div class="video-section">
            <div class="video-success" ng-show="videoAccess">
                <div class="video-selector col-sm-12 col-xs-12">
                    <select id="videoSource" class="form-control"></select>
                </div>
                <br>
                <div class="video-play col-sm-12 col-xs-12">
                    <video autoplay playsinline id="validation-video"></video>
                </div>
            </div>
            <div class="video-error" ng-hide="videoAccess">
                <img src="images/camera-off.png" alt="All Peers" width="100" height="100">
            </div>
        </div>
        <div class="col-md-6  col-sm-12 col-xs-12" style="height: 100%; display:none;">
            <div class="audio-section">
                <div class="audio-success" ng-show="audioAccess">
                    <div class="audio-selector">
                        <select id ="audioSource" class="form-control"></select>
                    </div>
                    <br>
                    <div class="audio-play" ng-show="audioAccess">
                         <i class="fa fa-microphone" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="audio-error" ng-hide="audioAccess">
                    <i class="fa fa-microphone-slash" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="status-section col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-dismissible alert-warning col-sm-12 col-xs-12" ng-hide="audioAccess && videoAccess">
          <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
          <h4>Warning!</h4>
          <p> Please make sure Meet.ai has been allowed access to your Webcam and microphone.</p>
        </div>  
        <div class="alert alert-dismissible alert-success col-sm-12 col-xs-12" ng-show="audioAccess && videoAccess">
          <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
          <h4>All Set-Up!</h4>
          <p>Camera and Microphone access has been granted. Please click the proceed button to continue</p>
        </div>
        <a id="validate-proceed-button" class="btn btn-primary center-block col-sm-12 col-xs-12" href="#!room/{{roomid}}"> Proceed <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>

</div>
