
<div id="loader-background" class="loader">
    <div id="loader" class="loader"> </div>
</div>

<div id="login-guest-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-guest-login">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><strong> Guest Login </strong></h4>
        </div>

        <div class="modal-body">
        	<form id="guest-login">
        		<div class="form-group">
        			<label for="username"> Username: </label>
        			<br>
        			<input type="text" id="guest-login-username" placeholder="Enter a username" class="form-control" ng-model="guestUser">
        			<br>
        			<button id="guest-login-btn" type="submit" class="btn btn-primary btn-lg center-block"  ng-click="userLogin(guestUser)"> Login as Guest</button>
        		</div>
        	</form>
        </div>

        <div class="modal-footer">
		<div class="pull-left">
			<a data-toggle="modal" data-target="#signup-modal" ng-click="closeLoginGuestModal()">Create a VoiceID? </a></div>
		<div class="voice-login-section pull-right"><a data-toggle="modal" data-target="#login-modal" ng-click="closeLoginGuestModal()"> Voice Sign In Here</a></div>
        </div>

      </div>
    </div>
</div>

<div id="signup-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-enrollment">
      <div class="modal-content">

        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">
          <strong> Voice Enrollment <i class="fa fa-question-circle pull-right" data-toggle="tooltip" title="Create a voice based enrollment by speaking one of the given phrases in the dropdown three times. First, enter a Username and then Start or Stop the recording by clicking on the Mic Icon below. Make sure you speak close to the Mic and clearly in your normal voice." style="margin-top: 0.2em;"> Help </i></strong>
          </h4>
        </div>

        <div class="modal-body">
        	<div class="col-md-6">
        		<form id="voice-signup">
	        		<div class="form-group">
		        		<label for="username" required> Username: </label>
	        			<br>
	        			<input type="text" id="voice-signup-username" placeholder="Enter a username" class="form-control">
	        			<br>
		          		<label for="phrase"> Select a Verification Phrase </label>
		                <ui-select ng-model="phrase" search-enabled="false" title="Select Phrase" on-select="changeEnrollPhrase($item)">
					      <ui-select-match placeholder="Select Phrase">
					        <span style="color:#fff;" ng-bind="$select.selected.text"></span>
					      </ui-select-match>  
					      <ui-select-choices repeat="phrase in enrollPhrases">
					        <span style="color:#fff;" ng-bind="phrase.text"></span>
					      </ui-select-choices>
					    </ui-select>
					    <div class="enroll-phrase-display text-center">
				          	<h3>"{{phrase.text}}"</h3>
			          	</div>
					</div>
				</form>
	        </div>
	        <div class="col-md-6">
	        	<div id="signup-modal-alerts">
		        	<div ng-show="enrollCount === 0" ng-hide="enrollCount !=0 || enrollError" class="alert alert-info center-block text-center" role="alert"><strong>Enroll Voice</strong><i class="fa fa-info-circle" aria-hidden="true" style="margin:0 10px 0 5px;"> Select a phrase and enroll your voice 3 times </i></div>
			        <!-- <div ng-show="enrollError" ng-hide="!enrollError"  class="alert alert-danger center-block text-center" role="alert"><strong>Enrollment Error</strong><i class="fa fa-exclamation-circle" aria-hidden="true" style="margin:0 10px 0 5px;"> Please try recording your voice again.</i></div>
			        <div ng-show="enrollCount === 1" ng-hide="enrollCount != 1"  class="alert alert-warning center-block text-center" role="alert"><strong>Enrollment Successful</strong><i class="fa fa-check-circle-o" aria-hidden="true" style="margin:0 10px 0 5px;"> Enrollment Successful. Enrollment Remaining :{{3 - enrollCount}} </i></div>
			        <div ng-show="enrollCount === 2" ng-hide="enrollCount !=2 "  class="alert alert-warning center-block text-center" role="alert"><strong>Enrollment Successful</strong><i class="fa fa-check-circle-o" aria-hidden="true" style="margin:0 10px 0 5px;"> Enrollment Successful. Remaining Enrollments : {{3 - enrollCount}} </i></div>
			        <div ng-show="enrollCount === 3" ng-hide="enrollCount !=3"  class="alert alert-success center-block text-center" role="alert"><strong>Enrollment Complete</strong><i class="fa fa-check-circle-o" aria-hidden="true" style="margin:0 10px 0 5px;"> You're VoiceID has been enrolled successfully.</i></div> -->
		        </div>
				<div class="mic-icon">
					<button id="signup-record-button" class="record-button center-block"><i class="fa fa-microphone" aria-hidden="true"></i></button>
				</div>
			    <!-- <button id="voice-signup-btn" class="btn btn-success center-block" type="submit">Complete Signup</button> -->
			</div>
	        <div class="col-md-12">
	        	<div class="progress" style="margin: 20px;">
				  <div id="enroll-progressbar" class="progress-bar progress-bar-info progress-bar-striped active" style="width:0%;">
				    <span class="sr-only"></span>
				  </div>
		        </div>

				  <!-- <div ng-show="enrollCount === 2" ng-hide="enrollCount != 2" class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 65%">
				    <span class="sr-only"></span>
				  </div>
				  <div ng-show="enrollCount == 3" ng-hide="enrollCount = 0 || 1 || 2"class="progress-bar progress-bar-success progress-bar-striped active" style="width: 100%">
				    <span class="sr-only"></span> -->
				  <!-- </div> -->
	        </div>
        </div>

        <div class="modal-footer">
          	<div class="pull-left">
				<a data-toggle="modal" data-target="#login-guest-modal" ng-click="closeVoiceSignupModal()">Back to Guest Login </a></div>
			  <div class="voice-login-section pull-right"><a data-toggle="modal" data-target="#login-modal" ng-click="closeVoiceSignupModal()"> Voice Sign In Here</a></div>
        </div>
      </div>
    </div>
</div>

<div id="login-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-verification">
		<div class="modal-content">

	        <div class="modal-header">
	          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
	          <h4 class="modal-title"><strong> Voice Authentication <i class="fa fa-question-circle pull-right" data-toggle="tooltip" title="Authenticate your voice if you already have registered your voice. Record your voice by speaking your authentification phrase. Press the Mic Icon to start/stop Recording." style="margin-top: 0.2em"> Help</i></strong></h4>
	        </div>

	        <div class="modal-body">
		        <form id="login">
		        	<div class="form-group" style="height: 100%; width: 100%;">
		          		<label for="phrase"> Select Authentication Phrase </label>
		                <ui-select ng-model="phrase" search-enabled="false" title="Select Phrase" on-select="changeVerifyPhrase($item)">
					      <ui-select-match placeholder="Select Phrase">
					        <span style="color:#fff;" ng-bind="$select.selected.text"></span>
					      </ui-select-match>  
					      <ui-select-choices repeat="phrase in enrollPhrases">
					        <span style="color:#fff;" ng-bind="phrase.text"></span>
					      </ui-select-choices>
					    </ui-select>
			            <div class="col-md-12">
				          	<div class="verify-phrase-display text-center">
				          	<h3>"{{phrase.text}}"</h3>
				          	</div>
				        	<!-- <button id="login-btn" class="btn btn-primary center-block" type="submit">Login</button> -->
				        	
							<div class="mic-icon">
								<button id="login-record-button" class="record-button center-block"><i class="fa fa-microphone" aria-hidden="true"></i></button>
							</div>
						</div>
			        </div>
			        <div class="col-md-12 col-sm-12" style="bottom: 10px;">
				        <div id="login-modal-alerts">
					        <div ng-show="verify" class="alert alert-info center-block text-center" role="alert"><strong>Verify VoiceID</strong><i class="fa fa-info-circle" aria-hidden="true" style="margin:0 10px 0 5px;" > Please record your voice with Enrolled Phrase </i></div>
					        <!-- <div ng-show="verifyError" class="alert alert-warning center-block text-center" role="alert"><strong>Verification Error</strong><i class="fa fa-exclamation-circle" aria-hidden="true" style="margin:0 10px 0 5px;" > Please record your voice again.</i></div>
					        <div ng-show="verified" class="alert alert-success center-block text-center" role="alert"><strong>Verification Successful</strong><i class="fa fa-check-circle-o" aria-hidden="true" style="margin:0 10px 0 5px;"> You're VoiceID has been verified.</i></div> -->
					    </div>
			        </div>
		      	</form>
	        </div>

	        <div class="modal-footer">
				<div class="pull-left">
					<a data-toggle="modal" data-target="#login-guest-modal" ng-click="closeVoiceSigninModal()">Back to Guest Login </a>
				</div>
				<div class="voice-login-section pull-right">
					<a data-toggle="modal" data-target="#signup-modal" ng-click="closeVoiceSigninModal()">Create a Voice ID here</a>
				</div>
			</div>

        </div>
    </div>
</div>

<div id="call-incoming-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-call-incoming">
		<div class="modal-content">
			<div class="modal-body">
			    <form id="call">
			    	<!-- <button type="button" class="close" data-dismiss="modal" ng-click="takeCall=false; callIncoming(takingCallFrom, incomingPeerData)" style="position: fixed; top: 10px;    right: 10px;">&times;</button> -->
			    	<div class="col-md-12">
						<p> Incoming Call from	<strong>{{takingCallFrom}}</strong> </p>
						<br>
						<div class="incoming-call-buttons center-block">
							<a class="btn btn-success btn-sm pull-left" ng-click="takeCall=true; callIncoming(takingCallFrom, incomingPeerData)"><i class="fa fa-phone" aria-hidden="true"></i> Accept </a>
							<a class="btn btn-danger btn-sm pull-right" ng-click="takeCall=false; callIncoming(takingCallFrom, incomingPeerData)"><i class="fa fa-ban" aria-hidden="true"></i> Reject </a>
						</div>
					</div>
			    </form>
			</div>
		</div>
    </div>
</div>

<div id="call-outgoing-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-call-outgoing">
		<div class="modal-content">
			<div class="modal-body">
		    	<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
		    	<div class="outgoing-call-info">
					<p style="margin-bottom: 10px;">{{messageToCaller}}</strong></p>
					<br>
					<i class="fa fa-phone fa-4x animated tada infinite" aria-hidden="true" style="color:green"></i>
					<i class="fa fa-phone fa-4x close" aria-hidden="true" style="color:red" data-dismiss="modal" ng-click="cancelCall()"></i>
				</div>
				</div>
			</div>
		</div>
    </div>
</div>

<div class="col-md-12" style="max-height:60px;">
	<nav class="navbar" style="background-color: rgba(0,0,0,0.5)">
		<div class="navbar-header col-xs-9" style="padding:0px;">
			<div id="sidebar-toggle" class="pull-left" ng-click="showSidebar()"><i class="fa fa-bars" aria-hidden="true"></i></div>
			<a id="navbar-title" class="pull-left navbar-brand">Meet.ai</a>
		</div>
		<div class="navbar-options-right col-xs-3 pull-right" style="padding:5px 0px;" ng-show="loggedIn" ng-hide="!loggedIn">
			<div class="user-options pull-right">
				<a id="log-out"><i title="Log Out" class="fa fa-power-off"></i></a>
			</div>
			<!-- <div class="user-welcome pull-right">
				<span> Welcome, </span>
				<div><strong> {{username}} </strong></div> 
			</div> -->
			
		</div>
		
		
	</nav>
</div>

<div id="peer-connect-alert" class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Peer Connected!</strong>
</div>

<div id="video-box" class="col-md-12">

	<main id="video-element-wrapper">
		<section ng-class="remoteVideoClass">
			<button type="submit" data-placement="top" data-toggle="tooltip" title="Toggle Fullscreen" id="toggle-remote-fullscreen" class="toggle-fullscreen pull-right">
				<i class="fa fa-arrows-alt" aria-hidden="true"></i>
			</button>
			<video autoplay="autoplay" playsinline="true" id="remote-video" style="visibility: block"></video>
			<canvas id="remote-canvas"></canvas> <!-- Remote users canvas -->
			<canvas id="remote-visual-canvas1"></canvas> <!-- Remote users visual canvas -->
			<canvas id="remote-visual-canvas2" style="opacity:1.0;"></canvas> <!-- Remote users visual canvas -->
			<canvas id="remote-visual-canvas3" style="opacity:1.0;"></canvas> <!-- Remote users visual canvas -->
			<div style="display:none;">
				<img id="remote_anger" src="images/anger.png" width="30" height="30">
				<img id="remote_happiness" src="images/happy.png" width="30" height="30">
				<img id="remote_sad" src="images/sad.png" width="30" height="30">
				<img id="remote_contempt" src="images/contempt.png" width="30" height="30">
				<img id="remote_surprise" src="images/surprise.png" width="30" height="30">
				<img id="remote_disgust" src="images/disgust.png" width="30" height="30">
				<img id="remote_neutral" src="images/neutral.png" width="30" height="30">
				<img id="remote_fear" src="images/fear.png" width="30" height="30">
			</div>

			<div id="room-link-overlay" class="col-xs-12">
				<h3>Invite by sharing the link</h3>
				<br/>
				<p>{{roomLink}} 
					<br>
					<a class="btn btn-primary copylinkBtn" id="copyRoomLink" style="margin-top:10px;">Copy</a>
				</p>
			</div>
		</section>	
	</main>

	<div class="col-md-3 col-xs-6" style=" position: absolute; bottom: 10px; z-index: 600; right:10px;">
		<section ng-class="localVideoClass" style="opacity: 1; top: 0;	max-height: 120px;">
			<div id="local-video-overlay">
				<button type="button" class="btn btn-danger" data-toggle="tooltip" title="Your microphone has been muted" ng-show="!audioStatus" ng-hide="audioStatus"><i class="material-icons">&#xE02B;</i></button>
				<button type="button" class="btn btn-danger" data-toggle="tooltip" title="Your video is hidden" ng-show="!videoStatus" ng-hide="videoStatus"><i class="material-icons">&#xE04C;</i></button>
				<button type="submit" data-placement="top" data-toggle="tooltip" title="Toggle Fullscreen" id="toggle-local-fullscreen" class="toggle-fullscreen pull-right">
					<i class="fa fa-arrows-alt" aria-hidden="true"></i>
				</button>
				<button id="recording-status-indicator" type="button" class="btn btn-danger" data-toggle="tooltip" title="Your video is being recorded" ng-show="recordingStatus" ng-hide="!recordingStatus" ng-class="{'': !recordingStatus, 'Rec': recordingStatus}"><i class="material-icons">&#xE019;</i></button>
			</div>
			<video autoplay playsinline="true" id="local-video" style="visibility: block" muted="true"></video>
			
			<canvas id="local-canvas" style="visibility: hidden"></canvas>
			<canvas id="local-visual-canvas1"></canvas>
			<canvas id="local-visual-canvas2" style="opacity:1.0;"></canvas>
			<canvas id="local-visual-canvas3" style="opacity:1.0;"></canvas>

			<div style="display:none;">
				<img id="local_anger" src="images/anger.png" width="30" height="30">
				<img id="local_happiness" src="images/happy.png" width="30" height="30">
				<img id="local_sad" src="images/sad.png" width="30" height="30">
				<img id="local_contempt" src="images/contempt.png" width="30" height="30">
				<img id="local_surprise" src="images/surprise.png" width="30" height="30">
				<img id="local_disgust" src="images/disgust.png" width="30" height="30">
				<img id="local_neutral" src="images/neutral.png" width="30" height="30">
				<img id="local_fear" src="images/fear.png" width="30" height="30">
			</div>
		</section>
	</div>
</div>

<div id="video-controls" class="btn-group btn-group-justified col-xs-12">
	<a title="End Call" id="hang-up" class="btn btn-danger col-xs-6" >
		<i class="fa fa-phone"></i>	
	</a>
	<a title="Toggle Visual Mode - Enable face recognition, object detection, emotion capture and image tagging. Please check emotimeter and vision tabs on the side panel. " class="btn btn-primary" ng-click="toggleVisualMode()" ng-class="{'btn-primary': showVisualMode, 'btn-danger': !showVisualMode}">
		<i class="fa" ng-class="{'fa-eye': showVisualMode, 'fa-eye-slash': !showVisualMode}" aria-hidden="true"></i>
	</a>
	<a title="Record Media - Record your audio and video streams and save to device" id="saveMediaRecord" class="btn btn-primary" ng-click="toggleRecordMedia()" ng-class="{'btn-primary': !recordingStatus, 'btn-danger': recordingStatus}" >
		<i class="material-icons">&#xE019;</i>
	</a>
	<a title="Mute Audio" id="toggle-mute" class="btn btn-primary" ng-click="toggleAudioRecording()" ng-class="{'btn-primary': audioStatus, 'btn-danger': !audioStatus}">
		<i class="fa fa-microphone" aria-hidden="true" ng-class="{'fa-microphone-slash': audioStatus, 'fa-microphone':!audioStatus}"></i>
	</a>
	<a title="Hide Video" id="toggle-video" class="btn" ng-click="toggleVideoRecording()" ng-class="{'btn-primary': videoStatus, 'btn-danger': !videoStatus}">
		<i class="fa fa-video-camera" aria-hidden="true"></i>
	</a>
	<a title="Messaging" id="message-bubble-button" class="btn btn-primary" >
		<i class="fa fa-comment"></i>
		<span class="badge" ng-show="messageCount">{{messageCount}}</span>	
	</a>
</div>



<!-- <div id="message-bubble-button" class="btn btn-default" title="View Messages Window">
	<i class="fa fa-comment"></i>
	<span class="badge" ng-show="messageCount">{{messageCount}}</span>
</div> -->

<div id="message-popup" class="col-xs-12">
	<div class="panel panel-default message-panel" title="Messages">
		<div class="panel-header col-xs-12">
			<button id="message-close-button" class="close pull-right" style="height: 30px; font-size: 30px;">&times;</button>
			<div class="pull-left" style="font-size:24px; font-weight:bold;">Messages</div>
		</div>
		<div class="panel-body">
			<div id="messages"> </div> 
		</div>
		<div class="panel-footer">
			<form id="send-message" class="message" >
				<input type="text" id="user-message"/>
				<button class="btn btn-sm btn-primary" style="margin: 0 0 0 10px;" ng-click="messagePeer(peerName)">Send</button>
			</form>
		</div>
	</div>
</div>

<!-- <div id="sidebar" class="col-xs-12"> -->
<div id="sidebar-content" class="col-xs-11 pull-left">
		<div class="sidebar-header col-md-12">
			<div> {{username}} </div>
		</div>
		<ul class="nav nav-tabs">
			<li class="active"><a title="Connected Users" data-target="#sidebar-users" data-toggle="tab" role="tab" aria-expanded="true"><i class="fa fa-user"></i></a></li>
			<li class=""><a title="Speech to Text Transcription" data-target="#sidebar-transcript" data-toggle="tab" role="tab" aria-expanded="false"><i class="fa fa-file-text"></i></a></li>
			<li class=""><a  title="Language Translation" data-target="#sidebar-translate" data-toggle="tab" role="tab" aria-expanded="false"><i class="fa fa-language"></i></a></li>
			<li class=""><a title="User Emotimeter" data-target="#sidebar-emotion" data-toggle="tab" role="tab" aria-expanded="false"><i class="fa fa-smile-o"></i></a></li>
			<li class=""><a title="Smart Vision" data-target="#sidebar-vision" data-toggle="tab" role="tab" aria-expanded="false"><i class="fa fa-eye"></i></a></li>
		</ul>
		<div id="sidebar-tab-content" class="tab-content">
				<div class="tab-pane fade active in" id="sidebar-users">
					<br>
					<div id="peers" class="col-md-12">
						<h4>Connected Peers:</h4>
						<div name="peer" class="peer" id="peer-__all__">	
							<p class="pull-left"> All Peers </p>
							<button class="btn btn-sm btn-primary pull-right message-peer" name="peer-__all__" value="__all__">
							<i class="fa fa-envelope"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="sidebar-transcript">
					<div class="col-md-12">
						<br>
						<label for="language-select"> Select Language: </label>
								<ui-select name="languageSelect" id="language-select" ng-model="transcriptLanguage" search-enabled="false" title="Select Language" on-select="changeTranscriptLanguage($item)">
								<ui-select-match placeholder="Select Language">
									<span style="color:#fff;" ng-bind="$select.selected.name"></span>
								</ui-select-match>  
								<ui-select-choices repeat="language in transcriptLanguageOptions">
									<span style="color:#fff;" ng-bind="language.name"></span>
								</ui-select-choices>
								</ui-select>
						<br>
						<button id="start-transcript" class="btn btn-primary transcript-button center-block" ng-click="startTranscript()" ng-show="showTranscriptStartBtn" ng-hide="showTranscriptStopBtn">
							<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i>Start
						</button>
						<button id="stop-transcript" class="btn btn-danger transcript-button center-block" ng-click="stopTranscript()" ng-show="showTranscriptStopBtn" ng-hide="showTranscriptStartBtn">
							<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i>Stop
						</button>
					</div>
					<br>
					<div class="transcripted-messages" ng-repeat="message in transcriptMessages | orderBy: 'time' track by $index">
						<div>
							<strong>{{message.user}} </strong> : 
							<label tooltip-placement="right-bottom" uib-tooltip="{{message.formattedTime | date:'medium'}}" tooltip-class="customClass" >{{message.formattedTime | date:'h:mm a'}}
							</label>
						</div>
						<div>{{message.text}}</div>
					</div>
				</div>

				<div class="tab-pane fade" id="sidebar-translate">
					<div class="col-md-12">
						<br>
						<label for="input-language-select"> From: </label>
							<ui-select name="fromLanguageSelect" id="from-language-select" ng-model="translateFromLanguage" search-enabled="false" title="Select Language" on-select="changeTranslationFrom($item)">
								<ui-select-match placeholder="Select Language">
									<span style="color:#fff;" ng-bind="$select.selected.name"></span>
								</ui-select-match>  
								<ui-select-choices repeat="language in translateFromLanguageOptions">
									<span style="color:#fff;" ng-bind="language.name"></span>
								</ui-select-choices>
							</ui-select>
							<br>
							<label for="input-language-select"> To: </label>
							<ui-select name="toLanguageSelect" id="to-language-select" ng-model="translateToLanguage" search-enabled="false" title="Select Language" on-select="changeTranslationTo($item)">
								<ui-select-match placeholder="Select Language">
									<span style="color:#fff;" ng-bind="$select.selected.name"></span>
								</ui-select-match>  
								<ui-select-choices repeat="language in translateToLanguageOptions">
									<span style="color:#fff;" ng-bind="language.name"></span>
								</ui-select-choices>
							</ui-select>
							<br>
						<button id="start-translate" class="btn btn-primary translate-button center-block" ng-click="startTranslate()" ng-show="showTranslateStartBtn" ng-hide="showTranslateStopBtn">
							<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px; margin-top: 5px;"></i>Start
						</button>
						<button id="stop-translate" class="btn btn-danger transcript-button center-block" ng-click="stopTranslate()" ng-show="showTranslateStopBtn" ng-hide="showTranslateStartBtn">
							<i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px; margin-top: 5px;"></i>Stop
						</button>						
					</div>
					<br>
					<div class="translated-messages" ng-repeat="message in translateMessages | orderBy: 'time' track by $index">
						<div><strong>{{message.user}} </strong> : 
						<label tooltip-placement="right-bottom" uib-tooltip="{{message.formattedTime | date:'medium'}}" tooltip-class="customClass" >{{message.formattedTime | date:'h:mm a'}}
						</label>
						</div>
						<div>{{message.text}}</div>
					</div>
				</div>

				<div class="tab-pane fade" id="sidebar-emotion">
					<div id="sidebar-emotion-display-message" ng-show="showVisualMode" ng-hide='!showVisualMode'> 
						Please turn on <br> <h3> Visual Mode <i class="fa fa-eye"></i> </h3><br> to see the Emotions Graph
					</div>
					<div id="emotion-container" ng-show="!showVisualMode" ng-hide='showVisualMode'></div>
				</div>

				<div class="tab-pane fade" id="sidebar-vision">
					<div class="col-md-12">
						<div id="local-vision-container">
							<table class="visiontable" style="width:90%">
									<tr>
											<td style="color: #00bc8c;">Local User</td>
											<td></td>
									</tr>
									<tr>
											<td>Color</td>
											<td>{{localVisionData["color"][0]}}</td> 
									</tr>
									<tr>
											<td>Age</td>
											<td>{{localFaceData["age"]}}</td> 
									</tr>
									<tr>
											<td>AdultScore</td>
											<td>{{localVisionData["adultScore"]}}</td> 
									</tr>
									<tr>
											<td>Gender</td>
											<td>{{localFaceData["gender"]}}</td> 
									</tr>
									<tr>
											<td>Caption</td>
											<td>{{localVisionData["description"]}}</td> 
									</tr>
									<tr>
											<td>Glasses</td>
											<td>{{localFaceData["glasses"]}}</td> 
									</tr>
									<tr>
											<td>Objects</td>
											<td>{{localObjectDetectionData["objects"]}}</td> 
									</tr>
									<tr>
											<td>OCR</td>
											<td>{{localObjectDetectionData["OCR"]}}</td> 
									</tr>
								</table>
							</div>
							<div id="remote-vision-container">
								<table class="visiontable" style="width:90%">
									<tr>
											<td style="color: #00bc8c;">Remote User</td>
											<td></td> 
									</tr>
									<tr>
											<td>Color</td>
											<td>{{remoteVisionData["color"][0]}}</td> 
									</tr>
									<tr>
											<td>Age</td>
											<td>{{remoteFaceData["age"]}}</td> 
									</tr>
									<tr>
											<td>AdultScore</td>
											<td>{{remoteVisionData["adultScore"]}}</td> 
									</tr>
									<tr>
											<td>Gender</td>
											<td>{{remoteFaceData["gender"]}}</td> 
									</tr>
									<tr>
											<td>Caption</td>
											<td>{{remoteVisionData["description"]}}</td> 
									</tr>
									<tr>
											<td>Glasses</td>
											<td>{{remoteFaceData["glasses"]}}</td> 
									</tr>
									<tr>
										<td>Objects</td>
										<td>{{remoteObjectDetectionData["objects"]}}</td> 
								</tr>
								<tr>
										<td>OCR</td>
										<td>{{remoteObjectDetectionData["OCR"]}}</td> 
											</tr>
								</table>
							</div>
					</div>
				</div>

			</div>
		</div>
<!-- </div> -->

<script>
var url = document.location.href;
var str = url.replace("#!/room/","#!/validate/")

new Clipboard('.copylinkBtn', {
  text: function() {
    return str;
  }
});
</script>
